<!-- 
Version     : 1.1
Company     : Sun Life Financial
Date        : 17.JUL.2009
Author      : S. Esguerra
Description : Welcome Banner container.
History     :
    1.1     21.OCT.2009 - W. Clavero - Applied a color to the body of the page to reflect the SLF colors.
-->
<apex:page showHeader="false" sideBar="false" standardStyleSheets="false">
    <style type="text/css">
        body {
            background-color: #eaab00;
            padding: 0px;
            margin: 4px 0px 0px 0px;        
        }
    </style>
    <c:WelcomeBanner />
</apex:page>