<!-- 
Version 	: 1.4
Company		: Sun Life Financial
Date		: 28.JULY.2009
Author		: Dorothy Anne L. Baltazar
Description	: Page for displaying Important Notes for Change of Fund Allocation.
History		: 
				1.1 <9/18/09  - Robert Andrew Almedina - bug #123 Removed the excess '>' character on the section that displays the error message for the single premium policy>
				1.2 09.25.09 Wcheng - Added Header Title
				1.3 10.09.09 Wcheng - Changed the navigation of reject button
				1.4 10.27.09 Wcheng - Change the position of reject and accept button (look and feel #5)
				1.5 11.24.09 JC NACHOR - add parameter filtering to prevent cross site scripting
-->
<apex:page controller="ChangeAllocPreValidateCtrl" showHeader="false" sidebar="false" action="{!Security}">
<c:PortalNavigator navID="331"/>
    <!-- START ADD Wcheng Enhancement 09.25.09-->
    <head>
        <title>{!$Label.CHM_FALLOCLABEL}</title>
    </head>
    <!-- END ADD Wcheng Enhancement 09.25.09-->
<script>
	/*function gotoHome(){
		top.window.location.href='{!HomeURL}';		
	}*/
	
	function gotoHome(){
        top.location.href= ('{!NavTxnLog}');
    }
			
	function gotoCHM(){
		top.window.location.href='{!chmURL}';
	}
	</script>
	<apex:pageBlock >
	<apex:sectionHeader Title="{!$Label.CHM_FALLOCLABEL}" />
	<apex:form id="fundSwitchErrorForm">
		<div align="center">
		<apex:pageBlock rendered="{!OR(renderErrorCastIron,renderErrorExistRequest,renderErrorSinglePremium,renderErrorLapseStartDate)}">
			<apex:outputPanel rendered="{!renderErrorCastIron}">
				<apex:outputLabel value="{!$Label.CHM_ERR_001_024}"/><br/>
			</apex:outputPanel>
			<apex:outputPanel rendered="{!renderErrorExistRequest}">
				<apex:outputLabel value="{!$Label.CHM_ERR_001_021}"/><br/>
			</apex:outputPanel>
			<apex:outputPanel rendered="{!renderErrorSinglePremium}">
				<apex:outputLabel value="{!$Label.CHM_ERR_001_008}"/><br/> <!-- for bug #123 -->
			</apex:outputPanel>
			<apex:outputPanel rendered="{!renderErrorLapseStartDate}">
				<apex:outputLabel value="{!$Label.CHM_ERR_001_022}"/><br/>
			</apex:outputPanel>
		</apex:pageBlock>
		</div>
	</apex:form>
	
	<apex:form id="chmImptNotesform" >
		<apex:outputPanel rendered="{!NOT(OR(renderErrorCastIron,renderErrorExistRequest,renderErrorSinglePremium,renderErrorLapseStartDate))}">
		<table id="notesForm" class="disclaimTable"><tbody>
			<tr><td>{!$Label.CHM_IMPTNOTES_HEADER}</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr><td class="importantHeading">{!$Label.CHM_IMPTNOTES}</td></tr>
			<tr>
				<td class="disclaimFrame">
					<iframe id="ifrmNoteSteps" name="ifrmNoteSteps" frameborder="1" height="250" width="100%" src="/apex/ChangeAllocImportantNotes_Steps"></iframe>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
		 		<td align="center">
		 			<table><tbody>
		 				<tr>
		 				    <!-- START EDIT Look&Feel_05 Wcheng 10/27/09 -->
							<td><apex:commandButton styleClass="eSvcBtn" id="btnReject" rerender="null" value="{!$Label.CHM_REJECTBUTTON}" onclick="gotoHome()"/></td>					
							<td class="buttonSpacer">&nbsp;</td>
							<td><apex:commandButton styleClass="eSvcBtn" id="btnAccept" rerender="null" value="{!$Label.CHM_ACCEPTBUTTON}" onclick="gotoCHM()"/></td>
		 				    <!-- END EDIT Look&Feel_05 Wcheng 10/27/09 -->
		 				</tr>
		 			</tbody></table>						
		 		</td>
			</tr>
		</tbody></table>
		</apex:outputPanel>
	</apex:form>
	
	</apex:pageBlock>
	<script>
		var errorCastIron = {!renderErrorCastIron};
		var errorExistRequest = {!renderErrorExistRequest};
		var errorSinglePremium = {!renderErrorSinglePremium};
		var errorLapseStartDate = {!renderErrorLapseStartDate};
		
		if ((errorCastIron==false)&&(errorExistRequest==false)&&(errorSinglePremium==false)&&(errorLapseStartDate==false))
		{
				document.getElementById('notesForm').style.display = '';	
		}
	</script>
</apex:page>