<!-- 
Version        : 2.2 
Company        : Sun Life Financial 
Date           : 01.AUG.2009
Author         : Simon U. Esguerra
Description    : Change Contact Information input, confirmation and error upon submit page.
History        : 
                 version 1.1 - JC NACHOR 09/08/09 - changed the max length of Postal Code to 9
                                                  - changed regexp in phone fields to reject _
                                                  - changed regexp to reject other special characters
                 version 1.2 - JC NACHOR 09/15/09 - added displaying of progress layer on click of Ok
                                                  - reloads banner when the progress layer is being hidden
                                                  - trimmed spaces of address fields    
                 version 1.3 - JC NACHOR 09/17/09 - removes pre-acknowledgment screen  
                                                  - add padding in the table of confirmation declaration section
                                                  - changed regexp to reject ;\|* @!: in phone fields
                                                  - changed the hardcoding of underscore to <hr/>
                 version 1.4 - JC NACHOR 09/22/09 - remove remShield & reloadBanner because of changes in banner                                                                              
                 version 1.5 - JC NACHOR 09/24/09 - changed regexp to reject ;|* @!: in address fields
                 version 1.6 - JC NACHOR 09/25/09 - added title & Dialog position
                 version 1.7 - JC NACHOR 09/30/09 - changed apex:messages to apex:pageMessages, changed display of : for labels
                 version 1.8 - JC NACHOR 10/02/09 - re-check the check all checkbox onComplete (IL-ES-00034 Issue)
                                                  - added validation to prevent chinese characters in the phone fields
                             - JC NACHOR 10/12/09 - added if statements to check element existence for each getElementById call
                                                  - changed Kowloon Province to Hong Kong    
                 version 1.9 - JC NACHOR 10/20/09 - changed the action to security
                                                  - added validation to prevent scripting
                 version 2.0 - Wilson Cheng 10/26/09 - Implemented look and feel item 3A, 3B and 3C
                 version 2.1 - JC NACHOR 11/09/2009 - restore cancel button from email of Gary Fw: comments from Marketing
                 version 2.2 - W. Clavero 11/19/2009 - Included the handling of SU logins.
                 version 2.3 - Wilson Cheng 11/20/2009 - Made the check for SU logins optional.
                 version 2.4 - JC NACHOR 12/03/2009 - checked the current language of the user before importing the language
                 version 2.5 - JC NACHOR 12/08/09 - added confirmation date / time labels & added spacing in between fields
                 version 2.6 - JC NACHOR 02/05/2010 - used span instead of a as the tag for the hyperlink to remove the js error in ie6
                 version 2.7 - FER ATAS 05/30/2012 - Display Insured Name and Address which was previously contained in the hover details    
                                                                           
 -->
<apex:page standardController="Account" extensions="ChangeContactInfoCtrl,miniPolicyCtrlExt" showHeader="false" sideBar="false" action="{!security}">
<head>
  <title>{!$Label.CPP_HEADER_001}</title>
</head> 
<c:PortalNavigator navID="311"/>
<link href="/EXT/ext-2.2/resources/css/ext-all.css" type="text/css" rel="stylesheet"/>
<script src="/EXT/ext-2.2/adapter/ext/ext-base.js" type="text/javascript" />
<script src="/EXT/ext-2.2/ext-all.js" type="text/javascript" />
<apex:includeScript value="/js/functions.js" />
<apex:includeScript value="/jslibrary/main.js" />

<!-- JC NACHOR 12/03/2009 - checked the current language of the user before importing the language -->
<!-- <apex:includeScript value="{!$Resource.SFDCEnglishLabels}" /> -->
<apex:includeScript value="{!IF(intLanguageFlag==0,$Resource.SFDCEnglishLabels,$Resource.SFDCChineseLabels)}" />
  <apex:form id="muForm">

 <script type="text/javascript">
  
  var navURL = '';
  var result = '';
  var errorArray = new Array();
  var checkAllFlag = true;
  //document.getElementById('{!$Component.cbt.selectAllchkbx}').checked = true;
  //w. clavero 20091119: SU login handling
  function setConfirmState() {
    var suCheck = false;
    var checkUserLogin = {!checkForSU};
  
    if (checkUserLogin == true) //w. cheng 20091120: check for SU only if required
    {     
      try 
      {
        var suCheck = document.getElementById("portalAccess").contentWindow["isASwitchUser"]();
        if ((suCheck == null) || (suCheck == "undefined")) 
        {
          suCheck = true;
        }
      } 
      catch (err) 
      {
        suCheck = true;
      }
    
      document.getElementById("confirm").disabled = suCheck;
    }
  }   
  
  function onOK(){
  
    // JC NACHOR 09/15/1984 - add progress layer on OK
    clicker('progress');
  
      if(document.getElementById('selectAllchkbx')) {
      checkAllFlag = document.getElementById('selectAllchkbx').checked;
    }
    
    checkForChanges();
  }
  
  function checkAll(cb){
      var inputElem = document.getElementsByTagName('input');
        for(var i=0;i<(inputElem.length);i++){
          if(inputElem[i].id.indexOf("chkbxElem")!=-1){
              inputElem[i].checked = cb.checked;
            }
        }
    }
    
  function onConfirmComplete(transactId, precon){
      if(precon == 'false'){
          if(transactId != null){
            if(transactId != ''){
                if(document.getElementById('cppInput')) {
                document.getElementById('cppInput').style.display = 'none';
              }
              if(document.getElementById('cppConfirm')) {  
              document.getElementById('cppConfirm').style.display = 'none';
            }
            if(document.getElementById('errorDiv')) {  
              document.getElementById('errorDiv').style.display = 'none';
            }
              var tempURL = '{!tempURLAcknowledgement}'+'?transId='+transactId;
              top.location.href = tempURL;
          }
        }
      }else{
        if(document.getElementById('cppInput')) {       
        document.getElementById('cppInput').style.display = 'none';
        }
        if(document.getElementById('cppConfirm')) {
        document.getElementById('cppConfirm').style.display = 'none';
        }
        if(document.getElementById('errorDiv')){        
        document.getElementById('errorDiv').style.display = '';
        }
      }
      hideDialog('progress');
  }
    function navigateToURL(){
      
      //var url = document.getElementById('URLNav').value;
      top.window.location.href = navURL;
    }
    
    function confirmChanges(input, confirm, tempVar, chkbxAll){

      if('{!renderAllSelected}'!=true){
          if(document.getElementById(chkbxAll)) {
            document.getElementById(chkbxAll).checked = false;
          }       
      }
      if(document.getElementById(tempVar)) {
        result = document.getElementById(tempVar).value;
      }       
      
      if(result=='true'){
          if(document.getElementById(confirm)){
            document.getElementById(confirm).style.display  ='';
          }  
          if(document.getElementById(input)) {
            document.getElementById(input).style.display  ='none';
          }  
        }
        // JC NACHOR 10/02/2009 - hide progress layer
        //document.getElementById('selectAllchkbx').checked = checkAllFlag; 
        checkCheckAllChkbx();     
        
        // JC NACHOR 09/15/2009 - hide progress layer
        hideDialog('progress');
        //w.clavero 20091119: disable the confirm button for SU logins
        setConfirmState();
        //showErrors();       
    }
    
    function showErrors(){

      var spanElem;
      if(document.getElementById('{!$Component.ccpErrorMsg}')) {    
        spanElem    = (document.getElementById('{!$Component.ccpErrorMsg}').getElementsByTagName('span'));
      }  
      var headerText  = '{!$Label.CPP_ERROR}';
      var headerElem;
      if(document.getElementById(spanElem[0].id)) {
        headerElem  = document.getElementById(spanElem[0].id);
      }  

      headerElem.setAttribute('class','errorMsg');
      headerElem.setAttribute('className','errorMsg');
      headerElem.innerHTML = '<b>'+headerText+'</b>';
                
      var divCol;
      if(document.getElementById('{!$Component.ccpErrorMsg}')){                  
        divCol     = (document.getElementById('{!$Component.ccpErrorMsg}').getElementsByTagName('div'));
      }  
      var messageElem = divCol[(divCol.length)-1].id; //on the assumption that the last div element contains the actual apex message text
      var messageHTML = divCol[(divCol.length)-1].innerHTML;
                        
      var lastTag     = '<br>';
      var parseHTML   = messageHTML.lastIndexOf(lastTag);
      if(parseHTML == -1){
        lastTag = '<BR>';  //added check with IE writing tags in upperCase
      }
                        
      messageHTML = messageHTML.substring(0, messageHTML.lastIndexOf(lastTag)); //on the assumption that '<br>' is the last tag for this page Message tag.
      messageHTML +='<br><br>'+' - '+'error1'
                  +'<br><br>'+'error2';
                        
      if(document.getElementById(messageElem)) {
        document.getElementById(messageElem).innerHTML = messageHTML;
      }  
      
      window.scrollTo(0, 0);    
    
    }
    
    
    function uncheckAllChkbx(all,one){
        var chkbxall;
        if(document.getElementById(one)) {
        chkbxall = document.getElementById(one).checked;
      }  

      if(chkbxall==false){
          if(document.getElementById(all)) {
          document.getElementById(all).checked = false;
        }  
      }

      checkCheckAllChkbx();
    }

    function checkCheckAllChkbx() {
      var isAllChecked = true;

      var chkCheckAll = document.getElementById('selectAllchkbx');
      if(chkCheckAll != null) {

        var inputElem = document.getElementsByTagName('input');
        if(inputElem != null) {
          for(var i=0;i<(inputElem.length);i++){
            if(inputElem[i].id.indexOf("chkbxElem")!=-1){                        
              if(inputElem[i].checked == false){
                isAllChecked = false;
              }
            }
          }
        }  
        // checks the check all checkbox when all other checkboxes are checked
        if(isAllChecked == true) {        
          chkCheckAll.checked = true;
        }
      }
    }


    function storeNames(countrySel, provinceSel, countryHid, provinceHid, addr1,addr2,addr3,addr4,addr5,addr6, addr7, errIcon1, errIcon6, btn){
    hideError(errIcon1,btn);
    hideError(errIcon6,btn);
    var countrySelElem;
    if(document.getElementById(countrySel)) {
          countrySelElem = document.getElementById(countrySel);
      }  
        var provinceSelElem;
        if(document.getElementById(provinceSel)){
          provinceSelElem = document.getElementById(provinceSel);
      }
      var addLine1;
      var addLine6;
      var add1;
      if(document.getElementById(addr1)) {
          add1 = document.getElementById(addr1).value;
      }  
      var add2;
      if(document.getElementById(addr2)) {
          add2 = document.getElementById(addr2).value;
      }
      var add3;
      if(document.getElementById(addr3)) {
          add3 = document.getElementById(addr3).value;
      }
      var add4;
      if(document.getElementById(addr4)) {    
          add4 = document.getElementById(addr4).value;
      }
      var add5;
      if(document.getElementById(addr5)) {    
          add5 = document.getElementById(addr5).value;
      }
      var add6;
      if(document.getElementById(addr6)) {    
          add6 = document.getElementById(addr6).value;
      }
      var add7;
      if(document.getElementById(addr7)) {    
          add7 = document.getElementById(addr7).value;
      }    
      var error1 = false;
      var error6 = false;
      
      if(countrySelElem.selectedIndex >-1){
          if(document.getElementById(countryHid)) {
            document.getElementById(countryHid).value = countrySelElem.options[countrySelElem.selectedIndex].text;
        }    
      }else{
          if(document.getElementById(countryHid)) {
            document.getElementById(countryHid).value='';
        }    
      }
  
      if(provinceSelElem.selectedIndex >-1){
          if(document.getElementById(provinceHid)) {
            document.getElementById(provinceHid).value = provinceSelElem.options[provinceSelElem.selectedIndex].text;
        }    
      }else{
          if(document.getElementById(provinceHid)) {
            document.getElementById(provinceHid).value='';
        }   
      }
      
      if(document.getElementById(countryHid) != null && document.getElementById(provinceHid) != null) {
      
      if( document.getElementById(countryHid).value != 'Hong Kong' || document.getElementById(provinceHid).value != 'Hong Kong'){
        if(add1==''){
          errMes = '{!$Label.CPP_WARN_006}';
          showError(errIcon1,errMes, btn);
        pushArrError(errIcon1);
        error1 = true;
      }else{
        addLine1 = checkInput(add1, errIcon1, btn);
        if(addLine1 == 'false'){
          error1 = true;
        }
      }
      
      if(add6==''){
          errMes2 = '{!$Label.CPP_ERR_008}';
          showError(errIcon6,errMes2, btn);
        pushArrError(errIcon6);
        error6 = true;
      }else{
        addLine6 = checkInput(add6, errIcon6, btn);
        if(addLine6 == 'false'){
          error6 = true;
        }
      }
      if(error1==false){
        spliceArrError(errIcon1);
      }
      if(error6==false){
        spliceArrError(errIcon6);
      }
      if(document.getElementById(btn)!=null){
        if((errorArray.length)==0){
          document.getElementById(btn).disabled=false;
        }
      } 
    }
    if( document.getElementById(countryHid).value == 'Hong Kong' || document.getElementById(provinceHid).value == 'Hong Kong'){
      addLine1 = checkInput(add1, errIcon1, btn);
      addLine6 = checkInput(add6, errIcon6, btn);
      
      // JC NACHOR 09/16/2009 - trimmed spaces in address fields
      //if((add1.length)==0 && ((add2.length)>0 || (add3.length)>0 || (add4.length)>0 || (add5.length)>0 || (add6.length)>0 || (add7.length)>0)){     
      if((add1.trim().length)==0 && ((add2.length)>0 || (add3.length)>0 || (add4.length)>0 || (add5.length)>0 || (add6.trim().length)>0 || (add7.length)>0)){
        errMes3 = '{!$Label.CPP_WARN_006}';
        showError(errIcon1, errMes3, btn);
        pushArrError(errIcon1);
        error1=true;
      }
      
      // JC NACHOR 09/16/2009 - trimmed spaces in address fields      
      //if((add6.length)==0 && ((add1.length)>0 || (add2.length)>0 || (add3.length)>0 || (add4.length)>0 || (add5.length)>0 || (add7.length)>0)){
      if((add6.trim().length)==0 && ((add1.trim().length)>0 || (add2.length)>0 || (add3.length)>0 || (add4.length)>0 || (add5.length)>0 || (add7.length)>0)){
        errMes5 ='{!$Label.CPP_ERR_008}';
        showError(errIcon6, errMes2, btn);
        pushArrError(errIcon6);
        error6=true;
      }
      if(addLine1 == 'false'){
        error1 = true;
      }
      
      if(addLine6 == 'false'){
        error6 = true;
      }
      
      if(error1==false){
        spliceArrError(errIcon1);
      }
      if(error6==false){
        spliceArrError(errIcon6);
      }
      if(document.getElementById(btn)!=null){
        if((errorArray.length)==0){
          document.getElementById(btn).disabled=false;
        }
      } 
    }

    } // if getElemByid checking
  
      //alert(document.getElementById(provinceHid).value);  
    }
  
  function showError(errIcon, errMessage, btn){
      if(document.getElementById(errIcon)) {
        document.getElementById(errIcon).alt      =errMessage;
        document.getElementById(errIcon).title      =errMessage;
        document.getElementById(errIcon).style.display  ='';
    }
    if(document.getElementById(btn)) {    
        document.getElementById(btn).disabled     =true;
    }    
  }
  function hideError(errElem,btn){
      if(document.getElementById(errElem)) {
        document.getElementById(errElem).alt      ='{!$Label.CPP_ERROR}';
        document.getElementById(errElem).title      ='{!$Label.CPP_ERROR}';
        document.getElementById(errElem).style.display  ='none';
    }    
  }

  function pushArrError(errElem){
    var strErrFields = errorArray.join('|');
    if(strErrFields.indexOf(errElem) == -1){
      errorArray.push(errElem);
    } 
  }
  
  function spliceArrError(errElem){
    var strErrFields = errorArray.join('|');
    if(strErrFields.indexOf(errElem)!=-1){
      var errFldStr    = strErrFields.substring(0, strErrFields.indexOf(errElem), errElem.length);
      var errArrTemp   = errFldStr.split('|');
      errorArray.splice((errArrTemp.length-1), 1);
    }
  }

  
  function checkPhoneInput(Id, errIcon, phNumber, btn){
    hideError(errIcon,btn);
    var phNum;
    if(document.getElementById(Id)) {
        phNum = document.getElementById(Id).value;
    }    

     // JC NACHOR 09/08/2009 - changed regexp to reject _
     // var s = phNum.replace(/[\w\d\/\[\]\(\)\+\-&]/gi,"");
     
     // JC NACHOR 09/08/2009 - changed regexp to reject ;\|* @!: 
     // var s = phNum.replace(/[a-zA-Z\d\/\[\]\(\)\+\-&]/gi,"");     
     // if((s.length)>0){
        
     // JC NACHOR 10/02/09 - added validation to prevent chinese characters in the phone fields   
    if((/[;\s\\\|\*@!:]/.test(phNum)) || (/[\u0100-\uffff]/.test(phNum))){
      errMes =  '{!$Label.CPP_ERR_006}';
      showError(errIcon,errMes, btn);
      pushArrError(errIcon);
      return;
    }
    
    // added client side validation to invalidate scripting
    if(/.*<[sS][cC][rR][iI][pP][tT].*>.*<\/[sS][cC][rR][iI][pP][tT]>.*/.test(phNum)){
      
      errMes2 = '{!$Label.CPP_ERR_012}';
      showError(errIcon, errMes2, btn);
      pushArrError(errIcon);
      return 'false';
    }     
    
    if((phNum.length)>50){
      errMes =  '{!$Label.CPP_ERR_006}';
      showError(errIcon,errMes, btn);
      pushArrError(errIcon);
      return;
    }
    spliceArrError(errIcon);
    if((errorArray.length)==0){
        if(document.getElementById(btn)) {
          document.getElementById(btn).disabled=false;
      }    
    }
  }
  function checkAddrInput(addr1, addr2, addr3, addr4, addr5, addr6,addr7, errIcon1, errIcon2,errIcon3, errIcon4, errIcon5, errIcon6, errIcon7, btn){
    hideError(errIcon1);
    hideError(errIcon2);
    hideError(errIcon3);
    hideError(errIcon4);
    hideError(errIcon5);
    hideError(errIcon6);
    hideError(errIcon7);

        var addLine1;
        if(document.getElementById(addr1)) {
        addLine1 = document.getElementById(addr1).value;
    }
    var addLine2;
        if(document.getElementById(addr2)) {    
        addLine2 = document.getElementById(addr2).value;
    }
    var addLine3;
        if(document.getElementById(addr3)) {    
        addLine3 = document.getElementById(addr3).value;
    }
    var addLine4;
        if(document.getElementById(addr4)) {    
        addLine4 = document.getElementById(addr4).value;
    }
    var addLine5;
        if(document.getElementById(addr5)) {    
        addLine5 = document.getElementById(addr5).value;
    }
    var addLine6;
        if(document.getElementById(addr6)) {    
        addLine6 = document.getElementById(addr6).value;
    }   
    var addLine7;
        if(document.getElementById(addr7)) { 
        addLine7 = document.getElementById(addr7).value;
    }    
    var country  = document.getElementById('CountrySel');
    var prov = document.getElementById('ProvinceSel');
    var add1 = true;
    var add6 = true;
    //alert(country);
    var countryVal = country.options[country.selectedIndex].text;
    if(prov.selectedIndex>-1){
      var provVal = prov.options[prov.selectedIndex].text;
    }
    // JC NACHOR 09/17/09 - trimmed spaces in address fields
    // if((addLine1.length)==0 && ((addLine2.length)>0 || (addLine3.length)>0 || (addLine4.length)>0 || (addLine5.length)>0 || (addLine6.length)>0 || (addLine7.length)>0)){    
    if((addLine1.trim().length)==0 && ((addLine2.length)>0 || (addLine3.length)>0 || (addLine4.length)>0 || (addLine5.length)>0 || (addLine6.trim().length)>0 || (addLine7.length)>0)){
      //if(country!='Hong Kong' || prov !='Hong Kong'){
        
        errMes1 = '{!$Label.CPP_WARN_006}';
        showError(errIcon1, errMes1, btn);
        pushArrError(errIcon1);
        add1 = false;
      //}
    // JC NACHOR 09/17/09 - trimmed spaces in address fields
    // }else if((addLine1.length)>0){
    }else if((addLine1.trim().length)>0){
      var inputone = checkInput(addLine1, errIcon1, btn);
      if(inputone !='true'){
        add1 = false;
      }
    }
    // JC NACHOR 09/17/09 - trimmed spaces in address fields
    // if((countryVal!='Hong Kong' || provVal !='Hong Kong')&& (addLine1.length)==0){
    if((countryVal!='Hong Kong' || provVal !='Hong Kong')&& (addLine1.trim().length)==0){
        errMes1 = '{!$Label.CPP_WARN_006}';
        showError(errIcon1, errMes1, btn);
        pushArrError(errIcon1);
        add1 = false;
    }
    // JC NACHOR 09/17/09 - trimmed spaces in address fields
    // if((addLine6.length)==0 && ((addLine1.length)>0 || (addLine2.length)>0 || (addLine3.length)>0 || (addLine4.length)>0 || (addLine5.length)>0 || (addLine7.length)>0)){
    if((addLine6.trim().length)==0 && ((addLine1.trim().length)>0 || (addLine2.length)>0 || (addLine3.length)>0 || (addLine4.length)>0 || (addLine5.length)>0 || (addLine7.length)>0)){

        errMes2 ='{!$Label.CPP_ERR_008}';
        showError(errIcon6, errMes2, btn);
        pushArrError(errIcon6);
        add6 = false;
    // JC NACHOR 09/17/09 - trimmed spaces in address fields
    // }else if((addLine6.length)>0){
    }else if((addLine6.trim().length)>0){
      var inputsix = checkInput(addLine6, errIcon6, btn);
      if(inputsix !='true'){
        add6=false;
      }
    }

    // JC NACHOR 09/17/09 - trimmed spaces in address fields
    // if((countryVal!='Hong Kong' || provVal !='Hong Kong')&& (addLine6.length)==0){
    if((countryVal!='Hong Kong' || provVal !='Hong Kong')&& (addLine6.trim().length)==0){
      errMes2 ='{!$Label.CPP_ERR_008}';
      showError(errIcon6, errMes2, btn);
      pushArrError(errIcon6);
      add6 = false;
    }
    
    
    var inputtwo = checkInput(addLine2, errIcon2, btn);
    var inputthree = checkInput(addLine3, errIcon3, btn);
    var inputfour = checkInput(addLine4, errIcon4, btn);
    var inputfive = checkInput(addLine5, errIcon5, btn);
    var inputsix = checkInput(addLine6, errIcon6, btn);
    var inputseven = checkInput(addLine7, errIcon7, btn);
    
    
    if(inputtwo=='true'){
      spliceArrError(errIcon2);
      /*spliceArrError(errIcon1);
      spliceArrError(errIcon2);
      spliceArrError(errIcon3);
      spliceArrError(errIcon4);
      spliceArrError(errIcon5);
      spliceArrError(errIcon6);
      spliceArrError(errIcon7);*/
    }
    if(inputthree=='true'){
      spliceArrError(errIcon3);
      /*spliceArrError(errIcon1);
      spliceArrError(errIcon2);
      spliceArrError(errIcon3);
      spliceArrError(errIcon4);
      spliceArrError(errIcon5);
      spliceArrError(errIcon6);
      spliceArrError(errIcon7);*/
    }
    if(inputfour=='true'){
      spliceArrError(errIcon4);
      /*spliceArrError(errIcon1);
      spliceArrError(errIcon2);
      spliceArrError(errIcon3);
      spliceArrError(errIcon4);
      spliceArrError(errIcon5);
      spliceArrError(errIcon6);
      spliceArrError(errIcon7);*/
    }
    if(inputfive=='true'){
      spliceArrError(errIcon5);
      /*spliceArrError(errIcon1);
      spliceArrError(errIcon2);
      spliceArrError(errIcon3);
      spliceArrError(errIcon4);
      spliceArrError(errIcon5);
      spliceArrError(errIcon6);
      spliceArrError(errIcon7);*/
    }
    if(inputsix=='true'){
      if(add6 != false){
        spliceArrError(errIcon6);
      }
      /*spliceArrError(errIcon1);
      spliceArrError(errIcon2);
      spliceArrError(errIcon3);
      spliceArrError(errIcon4);
      spliceArrError(errIcon5);
      spliceArrError(errIcon6);
      spliceArrError(errIcon7);*/
    }
    if(inputseven=='true'){
      spliceArrError(errIcon7);
      /*spliceArrError(errIcon1);
      spliceArrError(errIcon2);
      spliceArrError(errIcon3);
      spliceArrError(errIcon4);
      spliceArrError(errIcon5);
      spliceArrError(errIcon6);
      spliceArrError(errIcon7);*/
    }

    if(add1 == true){
      spliceArrError(errIcon1);
    }
    if(add6 == true){
      spliceArrError(errIcon6);
    }
    if((errorArray.length)==0){
        if(document.getElementById(btn)) {
          document.getElementById(btn).disabled=false;
      }    
    }
  } 
  function checkInput(addLine, errIcon, btn){
    if(/[\u0100-\uffff]/.test(addLine)){
      errMes = '{!$Label.CPP_ERR_004}';
      showError(errIcon, errMes, btn);
      pushArrError(errIcon);
      return 'false';
    }
    // JC NACHOR 09/08/2009 - changed regex to reject other special characters
    // if(/[/\\;:@\*\|\[\]\(\)\+\-&]/.test(addLine)){
    // if(/[;/\\\|\*@!:]/.test(addLine)){
    
    if(/[;\|\*@!:]/.test(addLine)){
      
      errMes1 = '{!$Label.CPP_ERR_006}';
      showError(errIcon, errMes1, btn);
      pushArrError(errIcon);
      return 'false';
    }
    
    // added client side validation to invalidate scripting
    if(/.*<[sS][cC][rR][iI][pP][tT].*>.*<\/[sS][cC][rR][iI][pP][tT]>.*/.test(addLine)){
      
      errMes2 = '{!$Label.CPP_ERR_012}';
      showError(errIcon, errMes2, btn);
      pushArrError(errIcon);
      return 'false';
    }   
    
    return 'true';
  }

  function checkEmail(errElem, elemId, btn){
    hideError(errElem,btn);
    var emailAddr;
    if(document.getElementById(elemId)) {
        emailAddr = document.getElementById(elemId).value;
    }    
    if((emailAddr.length)==0){
      errMes='{!$Label.CPP_WARN_004}';
      showError(errElem, errMes, btn);
      pushArrError(errElem);
      return;
    }
    
    //var emailPat = '/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/';
    if(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(emailAddr)){
      spliceArrError(errElem);
      if((errorArray.length)==0){
          if(document.getElementById(btn)) {
            document.getElementById(btn).disabled=false;
        }    
      }
      return;
    }else{
      errMes = '{!$Label.CPP_WARN_005}'
      showError(errElem, errMes, btn);
      pushArrError(errElem);
      return;
    }
    
    spliceArrError(errElem);
    if((errorArray.length)==0){
        if(document.getElementById(btn)) {
          document.getElementById(btn).disabled=false;
      }    
    }
  }
  function completeReset(chkbx,ProvSel,CountrySel,provHid,countryHid, input, confirm){

    //document.getElementById(chkbx).checked= true;
    //checkAll(chkbx);

      
        loadSelectCountries(CountrySel);
      loadSelectProvince(ProvSel,CountrySel);

      if(document.getElementById(confirm)) {
          document.getElementById(confirm).style.display  ='none';
      }
      if(document.getElementById(input)) {    
        document.getElementById(input).style.display  ='';
    }    

  }
  function onCancel(){
    top.location.href = '{!tempURLCancel}';
  }
  function onReset(){
    resetValues();
  }
  function backToInput(input, confirm){
      if(document.getElementById(confirm)) {
        document.getElementById(confirm).style.display  ='none';
    }
    if(document.getElementById(input)) {    
        document.getElementById(input).style.display  ='';
    }    
  }

  // for pre-acknowledgement popup
  /*function preAckCancel()
  {
    // Insert apex action function to call when user clicks "Cancel"
    dWin.hide();
    
  }
  function preAckConfirm()
  {
    dWin.hide();
    AcknowledgeChanges();
  }
  
  function clicker() {
    if (dWin) {
      dWin.show();
    }
  }*/
  function hideDialog(divType){
      if(divType=='warning'){
          if(document.getElementById('confirm')) {
              document.getElementById('confirm').disabled = '';
          }
          if(document.getElementById('confirmCancel')) {             
              document.getElementById('confirmCancel').disabled = '';
          }
          if(document.getElementById('confirmBack')) {    
              document.getElementById('confirmBack').disabled = '';
          }    
        }
        dWin.hide();
        
        // JC NACHOR 09/22/09 - remove reloadBanner because of changes in banner
        // JC NACHOR 09/15/09 - reload banner on IE to re-display banner
        //reloadBanner();
    }
                
    function preAckConfirm(){
      clicker('progress');
        AcknowledgeChanges();
    }
    function clicker(divType){
      if (dWin) {
        if(divType=='warning'){
            if(document.getElementById('confirm')) {
                document.getElementById('confirm').disabled = 'true';
            }    
            if(document.getElementById('confirmCancel')) {
                document.getElementById('confirmCancel').disabled = 'true';
            }    
            if(document.getElementById('confirmBack')) {
                document.getElementById('confirmBack').disabled = 'true';
            }    
            window.scrollTo(0,0);
              showTransactionWarning();
          }else{
            window.scrollTo(0,0);
            showLoadingDialog();
          }
          
          // JC NACHOR 09/22/09 - remove remShield because of changes in banner
          // JC NACHOR 09/15/09 - removes the transparent shield of banner
          // remShield();
      }
  }

 </script>
 
<apex:includeScript value="{!$Resource.VFHoverDetail}" />

  <script type="text/javascript" src="{!$Resource.ESCPLocations}" />
   
  
  

  <apex:pageBlock id="cppInputPageBlock">
  <div id="cppInput">
  <apex:sectionHeader title="{!$Label.CPP_HEADER_001}"/>

      <br/>
      <apex:outputLabel style="width:700px;" >{!$Label.CPP_REMARK_001}</apex:outputLabel><br/><br/>      
      <apex:pageMessages />
      <!-- <apex:messages style="color: red;"/> -->      
      <apex:pageBlockSection title="{!$Label.CPP_LBL_IMPTNOTE}"collapsible="false"/>
      <table width="100%" border="0">
      <tr>
      <td><apex:outputLabel >{!$Label.CPP_REMARK_002}</apex:outputLabel></td>
        <td class="left">      
        <div class="requiredInput">
        <div class="requiredBlock"/>
          <apex:outputLabel >{!$Label.CPP_REMARK_007}</apex:outputLabel>
        </div>
        </td>
      </tr>
      </table>
          
<br/>
      <!-- JC NACHOR 09/18/2009 - changed the hardcoding of underscore to <hr/> -->
      <!-- <apex:outputLabel style="font-weight: bold">________________________________________________________________________________________________________________</apex:outputLabel><br/> -->
      <hr/>
      
      <apex:outputLabel style="font-size:x-small">{!$Label.CPP_REMARK_003}</apex:outputLabel><br/>
      <apex:outputLabel style="font-size:x-small">{!$Label.CPP_REMARK_004}</apex:outputLabel><br/>
      <apex:outputLabel style="font-size:x-small">{!$Label.CPP_REMARK_005}</apex:outputLabel><br/>

    <apex:panelGrid columns="1">
        <apex:panelgroup >
        <br/>
          <table border="0">
            <tr>
              <td width="100px"><b>{!$Label.CPP_LBL_HOMENO}</b></td>
              <td width="12px" style="text-align:center"></td>
            
              <td>
              <table border="0">
              <tr>
              <td>
              <apex:inputText maxlength="50" id="homeNo" value="{!homeNumber}" style="color:black;" 
                                onBlur="checkPhoneInput('{!$Component.homeNo}','{!$Component.errIcon1}','{!homeNumber}','okBtn');"
                                onmouseout="checkPhoneInput('{!$Component.homeNo}','{!$Component.errIcon1}','{!homeNumber}','okBtn');"
                                onkeyup="checkPhoneInput('{!$Component.homeNo}','{!$Component.errIcon1}','{!homeNumber}','okBtn');"
                                onchange="checkPhoneInput('{!$Component.homeNo}','{!$Component.errIcon1}','{!homeNumber}','okBtn');"/>
              </td>
              <td width="12px" style="text-align:center"><apex:image id="errIcon1" value="{!$Resource.Error_Icon}"  style="display: none;" alt="Error: " title="Error: "></apex:image></td>
              </tr>
              </table>
              </td>

              <td colspan="2"></td>
            </tr>
            <tr>
              <td><b>{!$Label.CPP_LBL_OFFICENO}</b></td>
              <td width="12px" style="text-align:center"></td>
              <td>
              <table border="0">
              <tr>
              <td>
              <apex:inputText maxlength="50" id="officeNo" value="{!officeNumber}" style="color:black;" 
                                onBlur="checkPhoneInput('{!$Component.officeNo}','{!$Component.errIcon2}','{!officeNumber}','okBtn');"
                                onmouseout="checkPhoneInput('{!$Component.officeNo}','{!$Component.errIcon2}','{!officeNumber}','okBtn');"
                                onkeyup="checkPhoneInput('{!$Component.officeNo}','{!$Component.errIcon2}','{!officeNumber}','okBtn');"
                                onchange="checkPhoneInput('{!$Component.officeNo}','{!$Component.errIcon2}','{!officeNumber}','okBtn');"/>
              </td>
              <td width="12px" style="text-align:center"><apex:image id="errIcon2" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
              </tr>
              </table>
              </td>
              
              <td colspan="2"></td>
            </tr>
            <tr>
              <td><b>{!$Label.CPP_LBL_MOBILENO}</b></td>
              <td width="12px" style="text-align:center"></td>
              <td>
              <table border="0">
              <tr>
              <td>
              <apex:inputText maxlength="50" id="mobileNo" value="{!mobileNumber}" style="color:black;" 
                                onBlur="checkPhoneInput('{!$Component.mobileNo}','{!$Component.errIcon3}','{!mobileNumber}','okBtn');"
                                onmouseout="checkPhoneInput('{!$Component.mobileNo}','{!$Component.errIcon3}','{!mobileNumber}','okBtn');"
                                onkeyup="checkPhoneInput('{!$Component.mobileNo}','{!$Component.errIcon3}','{!mobileNumber}','okBtn');"
                                onchange="checkPhoneInput('{!$Component.mobileNo}','{!$Component.errIcon3}','{!mobileNumber}','okBtn');"/>
              </td>
              <td width="12px" style="text-align:center"><apex:image id="errIcon3" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
              </tr>
              </table>
              </td>
              <td  colspan="2"></td>
            </tr>
            <tr>
            <td colspan ="5"><br/></td>
            </tr>
            <tr>
              <td ><b>{!$Label.CPP_LBL_EMAILADD}</b></td>
              <td width="12px" style="text-align:center"></td>

              <td colspan="2">
              <div class="requiredInput">
              <div class="requiredBlock"/>
              <apex:inputText id="EmailAddr" maxlength="50" style="width:250px;color:black;" value="{!emailAddress}" 
                                onBlur="checkEmail('{!$Component.errIcon4}','{!$Component.EmailAddr}','okBtn')"
                                onmouseout="checkEmail('{!$Component.errIcon4}','{!$Component.EmailAddr}','okBtn')"
                                onkeyup="checkEmail('{!$Component.errIcon4}','{!$Component.EmailAddr}','okBtn')"
                                onchange="checkEmail('{!$Component.errIcon4}','{!$Component.EmailAddr}','okBtn')"/>
              </div>
              </td>
              <td width="12px" style="text-align:center"><apex:image id="errIcon4" value="{!$Resource.Error_Icon}"  style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          
            </tr>
          </table><br/>

      </apex:panelgroup>
      </apex:panelGrid> 
      <br/><br/>
        <apex:outputLabel style="font-size:x-small">{!$Label.CPP_REMARK_006}</apex:outputLabel><br/>
      <br/>
        <table border="0">
        <tr>
          <td style="width:400px;">
          <div class="requiredInput">
             <div class="requiredBlock"/>
          <apex:inputText id="addr1" style="width:400px;" value="{!address1}" maxlength="25"
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/>
          </div>
          </td>
          <td width="12px" style="text-align:center"><apex:image id="errAddr1" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ADDRLINE001}</apex:outputLabel></td>
      </tr>
        <tr>
        
          <td>
          <apex:inputText style="width:400px;" id="addr2" value="{!address2}" maxlength="25"
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/></td>
          <td width="12px" style="text-align:center"><apex:image id="errAddr2" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ADDRLINE002}</apex:outputLabel></td>
        </tr>
        <tr>
          
          <td><apex:inputText style="width:400px;" id="addr3" value="{!address3}" maxlength="25"
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/></td>
          <td width="12px" style="text-align:center"><apex:image id="errAddr3" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ADDRLINE003}</apex:outputLabel></td>
        </tr>
        <tr>
          
          <td><apex:inputText style="width:400px;" id="addr4" value="{!address4}" maxlength="25"
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/></td>          
          <td width="12px" style="text-align:center"><apex:image id="errAddr4" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ADDRLINE004}</apex:outputLabel></td>
        </tr>
        <tr>
          
          <td><apex:inputText style="width:400px;" id="addr5" value="{!address5}" maxlength="25"
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/></td>          
          <td width="12px" style="text-align:center"><apex:image id="errAddr5" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ADDRLINE005}</apex:outputLabel></td>
        </tr>
        <tr>
          
          <td>
          <div class="requiredInput">
            <div class="requiredBlock"/>
          <apex:inputText id="addr6" style="width:400px;"  maxlength="25" value="{!address6}" 
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/>
          </div></td>
          <td width="12px" style="text-align:center"><apex:image id="errAddr6" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ADDRLINE006}</apex:outputLabel></td>
        </tr>
        <tr>
          
          <td><apex:inputText id="addr7" style="width:133px;" value="{!address7}" maxlength="9"
                              onblur="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onkeyup="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"
                              onchange="checkAddrInput('{!$Component.addr1}', '{!$Component.addr2}', '{!$Component.addr3}', '{!$Component.addr4}', '{!$Component.addr5}', '{!$Component.addr6}','{!$Component.addr7}','{!$Component.errAddr1}', '{!$Component.errAddr2}','{!$Component.errAddr3}', '{!$Component.errAddr4}','{!$Component.errAddr5}', '{!$Component.errAddr6}', '{!$Component.errAddr7}', 'okBtn')"/></td>
          <td width="12px" style="text-align:center"><apex:image id="errAddr7" value="{!$Resource.Error_Icon}" style="display: none;" alt="Error: " title="Error: "></apex:image></td>
          <td><apex:outputLabel style="font-size:x-small">{!$Label.CPP_LBL_ZIPCODE}</apex:outputLabel></td>
        </tr>
        <tr>
        
        <td colspan="3">
        <table border="0">
        <tr>

        <td style="width:287px">
        <apex:outputPanel id="hiddenPanel">
        <apex:inputhidden id="Province" value="{!province}"/>
        <apex:inputhidden id="country" value="{!country}"/>

       
       </apex:outputPanel>
        <select id="ProvinceSel" onChange="storeNames('CountrySel','ProvinceSel','{!$Component.country}','{!$Component.Province}','{!$Component.addr1}','{!$Component.addr2}','{!$Component.addr3}','{!$Component.addr4}','{!$Component.addr5}','{!$Component.addr6}','{!$Component.addr7}', '{!$Component.errAddr1}','{!$Component.errAddr6}','okBtn');"></select>
        <apex:outputLabel style="font-size:x-small">&nbsp;{!$Label.CPP_LBL_PROVINCE}</apex:outputLabel></td>
        
        <td> <select  id="CountrySel" onChange="javascript: loadSelectProvince('ProvinceSel','CountrySel'); storeNames('CountrySel','ProvinceSel','{!$Component.country}','{!$Component.Province}','{!$Component.addr1}','{!$Component.addr2}','{!$Component.addr3}','{!$Component.addr4}','{!$Component.addr5}','{!$Component.addr6}','{!$Component.addr7}', '{!$Component.errAddr1}','{!$Component.errAddr6}','okBtn');">
      <script>window.onload = new function(){
              loadSelectCountries('CountrySel');
              loadSelectProvince('ProvinceSel','CountrySel'); 
              storeNames('CountrySel','ProvinceSel','{!$Component.country}','{!$Component.Province}','{!$Component.addr1}','{!$Component.addr2}','{!$Component.addr3}','{!$Component.addr4}','{!$Component.addr5}','{!$Component.addr6}', '{!$Component.addr7}', '{!$Component.errAddr1}', '{!$Component.errAddr6}', 'okBtn');
          }
      </script></select></td>
        <td><apex:outputLabel style="font-size:x-small">&nbsp;{!$Label.CPP_LBL_COUNTRY}</apex:outputLabel></td>
        </tr>
        </table>

     
        </td>
        </tr>
        </table><br/>
        <br/>
        <apex:outputLabel >{!$Label.CPP_REMARK_008}</apex:outputLabel>
        <br/>
        <br/>
    <!-- <apex:pageBlockTable id="cbt" value="{!MyPolicies}" var="policy" columnsWidth="10%,45%,45%" headerClass="linedHeaderRow"> -->
    <apex:pageBlockTable id="cbt" value="{!MyPolicies}" var="policy" columnsWidth="5%,10%,20%,50%,15%" headerClass="linedHeaderRow">
      <apex:column >
            <apex:facet name="header">
            <input type="checkbox" id="selectAllchkbx" onclick="checkAll(this)" checked="true"/> </apex:facet>
            <apex:inputCheckBox id="chkbxElem" value="{!policy.boolIsChecked}"  onclick="uncheckAllChkbx('selectAllchkbx','{!$Component.cbt.chkbxElem}')" />
      </apex:column>
      <apex:column >
          <apex:facet name="header"> {!$Label.Policy_Number}</apex:facet>
          <!-- START EDIT JC NACHOR 02/05/2010 - used span instead of a as the tag for the hyperlink to remove the js error in ie6 -->
          <!--           
            <a id="vfhover{!policy.strPolicyNumber}" name="vfhover{!policy.strPolicyNumber}" style="cursor:pointer" class="hoverLink"
              onmouseover="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}', '/apex/miniPolicyWindow?PolicyId={!policy.strPolicyNumber}').show();" 
              onmouseout="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}').hide();" 
              onfocus="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}', '/apex/miniPolicyWindow?Policyid={!policy.strPolicyNumber}').show();" 
              onblur="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}').hide();">
          <u>{!policy.strPolicyNumber}</u>
          </a>
          -->                
          <!-- 2012MAY25 - FATAS - Removed Usage of VFHoverDetail (SalesForce Deprecation) -->
          <!-- <span id="vfhover{!policy.strPolicyNumber}" name="vfhover{!policy.strPolicyNumber}" style="cursor:pointer" class="hoverLink"
              onmouseover="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}', '/apex/miniPolicyWindow?PolicyId={!policy.strPolicyNumber}').show();" 
              onmouseout="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}').hide();" 
              onfocus="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}', '/apex/miniPolicyWindow?Policyid={!policy.strPolicyNumber}').show();" 
              onblur="javascript: VFHoverDetail.getHover('vfhover{!policy.strPolicyNumber}').hide();" >  -->
          <span id="vfhover{!policy.strPolicyNumber}" name="vfhover{!policy.strPolicyNumber}" >
          {!policy.strPolicyNumber}
          </span>  
          <!-- END EDIT JC NACHOR -->                  
          &nbsp;
          <!-- <img src="{!$Resource.HoverLink_Icon}"/>  -->        
      </apex:column> 
      <!-- 2012MAY25 - FATAS - START - Display Insured Name and Address which was previously contained in the hover details -->
	  <apex:column headerValue="{!$Label.CPP_MINI_NAME}">
          <span style="size: 50" id="vfhover{!policy.strInsuredName}" name="vfhover{!policy.strInsuredName}" >
          {!policy.strInsuredName}
          </span>  	  
	  </apex:column>
	  <apex:column headerValue="{!$Label.CPP_MINI_ADD}">
          <span>
          {!policy.strFullAddress}
		  </span>  	  
	  </apex:column>
      <!-- 2012MAY25 - FATAS - END - Display Insured Name and Address which was previously contained in the hover details -->
      <apex:column >
        <apex:outputText value="{!policy.strPlanName}" escape="false" />
        <apex:facet name="header">{!$Label.CPP_LBL_PRODUCT}</apex:facet>
      </apex:column>
    </apex:pageblockTable>
    <apex:actionFunction name="checkForChanges" action="{!checkForChanges}" rerender="cppInputPageBlock"  onComplete="confirmChanges('cppInput', 'cppConfirm', 'tempVar','selectAllchkbx');checkChanged('{!$Component.HomePhone}','{!$Component.OfficePhone}','{!$Component.MobilePhone}','{!$Component.EmailAdd}')"/>
    <apex:actionFunction name="resetValues" action="{!resetValues}"/>
    <input type="hidden" id="tempVar" name="tempVar" value="{!validated}"/>
    <br/>
    <br/>
    <table style="width: 100%;">
    <tr>    
    <!-- START EDIT Look&Feel_3B/3C Wcheng 10/26/09  -->
    <!-- <td width="40%"></td> -->
    <td width="100%" style="text-align: center;">
            <!-- START JC NACHOR 11/09/2009 - restore cancel button from email of Gary Fw: comments from Marketing -->           
            <input type="button" class="eSvcBtn" value="{!$Label.CPP_BTN_CANCEL}" onClick="onCancel()"/> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- END JC NACHOR 11/09/2009 - restore cancel button from email of Gary Fw: comments from Marketing -->
            <input type="button" class="eSvcBtn" value="{!$Label.CPP_BTN_RESET}" onClick="onReset()"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- START EDIT Look&Feel_3A Wcheng 10/26/09  -->
      <input type="button" class="eSvcBtn" id="okBtn" value="{!$Label.CPP_BTN_SUBMIT}"  onClick="onOK()"/>
      <!-- END EDIT Look&Feel_3A Wcheng 10/26/09  -->
    </td>
    <!-- <td style="text-align: right;">
      <input type="button" class="eSvcBtn" value="{!$Label.CPP_BTN_CANCEL}" onClick="onCancel()"/> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" class="eSvcBtn" value="{!$Label.CPP_BTN_RESET}" onClick="onReset()"/>
      
    </td> -->
    <!-- END EDIT Look&Feel_3B/3C Wcheng 10/26/09  -->
    </tr>
    </table>
  </div>
  
  
  
  
<div id="cppConfirm" style="display:none;">
 <apex:pageBlockSection title="{!$Label.CPP_LBL_IMPTNOTE}"collapsible="false"/>
<br/>
<script type="text/javascript">
    function checkChanged(home, office, mobile, email){
    
      
      var homeNo = '{!homeNumber}';
      var oldHomeNo = '{!oldhomeNumber}';
      var officeNo = '{!officeNumber}';
      var oldOfficeNo ='{!oldOfficeNumber}';
      var mobileNo = '{!mobileNumber}';
      var oldMobileNo ='{!oldMobileNumber}';
      var emailA ='{!emailAddress}';
      var oldEmail ='{!oldEmailAddress}';
      
      if(homeNo!=oldHomeNo){
          if(document.getElementById(home)) {
            document.getElementById(home).style.color = 'blue';
        }    
      }
      if(officeNo!=oldOfficeNo){
          if(document.getElementById(office)) {
            document.getElementById(office).style.color = 'blue';
        }    
      }
      if(mobileNo!=oldMobileNo){
          if(document.getElementById(mobile)) {
            document.getElementById(mobile).style.color = 'blue';
        }    
      }
      if(emailA!=oldEmail){
          if(document.getElementById(email)) {
            document.getElementById(email).style.color = 'blue';
        }    
      }
      
      
    }

</script>
<apex:outputLabel style="width:700px;" >{!$Label.CPP_REMARK_009}</apex:outputLabel><br/><br/>
<apex:outputLabel style="width:700px;" >{!$Label.CPP_REMARK_010}</apex:outputLabel><br/><br/>
<apex:pageMessages />
<!-- <apex:messages style="color:red;" /> -->
<!-- JC NACHOR 09/18/2009 - changed the hardcoding of underscore to <hr/> --> 
<!-- <apex:outputLabel style="font-weight: bold">________________________________________________________________________________________________________________</apex:outputLabel><br/> -->    
      <hr/>

        <!-- JC NACHOR 12/08/09 - added confirmation date / time labels -->
        <table border="0">
        <tr>
        <td colspan="2">
           {!$Label.CPP_REMARK_025}
        </td>
        <td width="30px">&nbsp;</td>
        <td >
           {!submitDateTime}        
        </td>
        </tr>
        </table>

    <apex:panelGrid columns="1" style="width:100%;">
      <apex:panelgroup >
        <br/>
      <table border="0">
        <tr>
        <td colspan="2">{!$Label.CPP_LBL_INSTRUCTION}:</td>
        <td>{!$Label.CPP_LBL_001}</td>
        </tr>
        <tr>
        <td colspan="2" style="width:150px;">{!$Label.CPP_LBL_NAME}:</td>
        <td><apex:outputLabel value="{!clientName}"/></td>
        </tr>
        <!-- JC NACHOR 12/09/09 - added spacing -->
        <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td style="width:135px;">{!$Label.CPP_LBL_HOMENO}</td>
        <td><apex:outputLabel id="HomePhone" value="{!ChangedHomeNo}"/></td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td style="width:135px;">{!$Label.CPP_LBL_OFFICENO}</td>
        <td><apex:outputLabel id="OfficePhone" value="{!ChangedOfficeNo}"/></td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td style="width:135px;">{!$Label.CPP_LBL_MOBILENO}</td>
        <td><apex:outputLabel id="MobilePhone" value="{!ChangedMobileNo}"/></td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr>
        <td style="width:15px;"></td>
        <td style="width:135x;">{!$Label.CPP_LBL_EMAILADD}</td>
        <td><apex:outputLabel id="emailAdd" value="{!ChangedEmailAddress}"/></td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr>
        <td colspan="3" style="width:150px;">{!$Label.CPP_LBL_CORRADD}:</td>
        </tr>
        <!-- JC NACHOR 12/09/09 - added spacing -->
        <tr>
        <td>&nbsp;</td>
        </tr>        
        <tr>
        <td style="width:15px;"></td>
        <td colspan="2"><apex:outputLabel style="color:blue;" rendered="{!renderNoChange}" value="{!$Label.CPP_NO_CHANGE}"/>
        <apex:outputLabel style="color:blue;" value="{!DisplayAddrOne}" rendered="{!NOT(renderNoChange)}"/></td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td colspan="2"><apex:outputLabel style="color:blue;" value="{!DisplayAddrTwo}"   rendered="{!NOT(renderNoChange)}"/></td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td colspan="2"><apex:outputLabel style="color:blue;" value="{!DisplayAddrThree}"  rendered="{!NOT(renderNoChange)}"/></td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td colspan="2"><apex:outputLabel style="color:blue;"  value="{!DisplayAddrFour}"  rendered="{!NOT(renderNoChange)}"/></td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr>
        <!-- <td colspan="3" style="width:150px;"> -->
        <td colspan="3" style="width:350px;">
        <apex:outputLabel rendered="{!NOT(renderAllSelected)}">{!$Label.CPP_LBL_APPNUM}:</apex:outputLabel>
        <apex:outputLabel rendered="{!renderAllSelected}">{!$Label.CPP_REMARK_024}</apex:outputLabel></td>
        </tr>
        <tr>
        <td style="width:15px;"></td>
        <td colspan="2" > <apex:repeat value="{!checkedPolicies}" var="AppliedPolicies" rendered="{!NOT(renderAllSelected)}">
      {!AppliedPolicies.strPolicyNumber}<br/>
       </apex:repeat>
       
        </td>
        </tr>
    </table>
    <br/>
    <br/>
    <!-- JC NACHOR 09/18/09 - changed class to add padding in the table  -->
    <!-- <table class="confirmationTable" style="width:100%;"> -->
    <table class="declarationTable" style="width:100%;">
    <tr>
    <td>
    <apex:outputLabel >{!$Label.CPP_REMARK_023}</apex:outputLabel><br/>
    <apex:outputLabel >{!$Label.CPP_REMARK_011}</apex:outputLabel><br/>
    <apex:outputLabel >{!$Label.CPP_REMARK_012}</apex:outputLabel><br/>
    </td>
    </tr>
    
    </table>

      </apex:panelgroup>
      </apex:panelGrid>
      <input type="hidden" name="URLNav" id="URLNav" value="{!URLNav}"/>
      <br/>
      <br/>
      <table width="100%">
    <tr>
      <td width="50%" style="text-align: right;">
       <apex:actionFunction name="AcknowledgeChanges" action="{!AcknowledgeChanges}" reRender="cppInputPageBlock"  onComplete="onConfirmComplete('{!transactId}', '{!preconfirmError}');"/>
       <!-- JC NACHOR 09/17/2009 - removes pre-acknowledgment screen -->
       <!-- <input type="button" class="eSvcBtn" name="confirm" id="confirm" value="{!$Label.CPP_BTN_CONF}" onClick="clicker('warning');" />  -->
            <input type="button" class="eSvcBtn" id="confirmBack" value="      {!$Label.CPP_BTN_BACK}      " onClick="backToInput('cppInput','cppConfirm')"/>
             &nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td style="text-align: left;">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <!-- START JC NACHOR 11/09/2009 - restore cancel button from email of Gary Fw: comments from Marketing -->
          <!-- START DELETE Look&Feel_3A Wcheng 10/27/09 -->
          <input type="button" class="eSvcBtn" id="confirmCancel" value="{!$Label.CPP_BTN_CANCEL}" onClick="onCancel()"/>  
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="eSvcBtn" name="confirm" id="confirm" value="{!$Label.CPP_BTN_CONF}" onClick="preAckConfirm();" />
        </td>
      </tr>
    </table>

</div>  


  <div id="errorDiv" style="display:none;">
    <apex:outputPanel rendered="{!renderErrorCastIron}">
    <apex:outputLabel >{!$Label.CPP_ERR_009}
        
    </apex:outputLabel>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!renderCPErrorExistRequest}">
    <apex:outputLabel >{!$Label.CPP_ERR_007}
        
    </apex:outputLabel>
    </apex:outputPanel>
    </div>
  </apex:pageBlock>
  </apex:form>

  <script>
  var errorCastIron = {!renderErrorCastIron};
  var errorExistRequest = {!renderCPErrorExistRequest};
  

  </script> 
  <div id="layout-win" class="x-hidden">
    <div class="x-window-header" style="color:white">{!$Label.CHM_PreAckHeader}</div>
    <c:EServicesModalDialogs />
  </div>
<!-- w. clavero 20091118 -->
<iframe id="portalAccess" name="portalAccess" src="/apex/SUTest" width="5" height="5" scrolling="no" style="display: none;"></iframe>  
</apex:page>