<!--
Version : 1.3
Company : Sun Life Financial
Date    : 22.July.2009
Author  : Wilson Cheng
Description : This is for Change Contact Info. Acknowledgement Page
History : 
          version 1.1 - JC NACHOR     09/25/09 - moved the , from after zip / postal code to after province
          version 1.2 - JC NACHOR     09/25/09 - added title, fixed layout regarding dispaly of :
          version 1.3 - Robby Angeles 09/25/09 - updated alignment of custom labels in remarks section
          version 1.4 - JC NACHOR     12/08/09 - add line divider
                      - JC NACHOR   - 12/09/09 - added space in between correspondence address label and address
-->

<apex:page controller="ChangeInfoAcknowledgeCtrl" showHeader="false" sidebar="false" action="{!Security}">
<head>
  <title>{!$Label.CPP_HEADER_002} - {!DisplayXMLdata.ReferenceNo}</title>
</head>
    <c:PortalNavigator navID="312" />
    <apex:pageBlock >
        <script>
            function callPDF()
            {
                window.open("/apex/ChangeInfoAcknowledgePDF?transId={!TransactionId}","ChangeInfoAcknowledgePDF");
            }
            
            function callOK()
            {
                top.window.location.href = '{!TransitionLogNav}';
            }
        </script>
        <table width="100%" style="border-collapse:collapse;font-size:10pt;font-family: 'Arial Unicode MS';">
            <tr>
                <td colspan="2" style="text-decoration:underline;font-weight:bold;font-size:medium;">
                    {!$Label.CPP_HEADER_002}
                </td>
            </tr>
            <tr>
                <td width="2%">
                </td>
                <td>
                    <br></br>
                    {!$Label.CPP_REMARK_013}
                    <br></br>
                </td>
            </tr>
            <tr>
                <td width="2%">
                </td>
                <td>    
                    <hr></hr>
                </td>
            </tr>
            <tr>
                <td width="2%">
                </td>
                <td>    
                    <table width="100%">
                        <tr>
                            <td width="20%">
                                <apex:outputLabel style="color:blue;font-weight:bold">{!$Label.CPP_LBL_REFNO}:</apex:outputLabel>
                            </td>
                            <td>
                                <apex:outputLabel style="color:blue;font-weight:bold">{!DisplayXMLdata.ReferenceNo}</apex:outputLabel>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" valign="top">
                                <apex:outputLabel style="color:blue;font-weight:bold">{!$Label.CPP_LBL_REQDATE}:</apex:outputLabel>
                            </td>
                            <td>
                                <apex:outputLabel style="color:blue;font-weight:bold">{!DisplayXMLdata.SubmissionDateTime}</apex:outputLabel>
                                <br></br>
                                <br></br>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <apex:outputLabel >{!$Label.CPP_LBL_INSTRUCTION}:</apex:outputLabel>
                            </td>
                            <td>
                                <apex:outputText >{!$Label.CPP_LBL_001}</apex:outputText>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" valign="top">
                                <apex:outputLabel >{!$Label.CPP_LBL_NAME}:</apex:outputLabel>
                            </td>
                            <td>
                                <apex:outputText >{!DisplayName}</apex:outputText>
                                <br></br>
                                <br></br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="2%">
                </td>
                <td>    
                    <table width="100%">
                        <tr>
                            <td width="2%">
                            </td>
                            <td width="15%">
                                <apex:outputLabel >{!$Label.CPP_LBL_HOMENO}</apex:outputLabel>
                            </td>
                            <td>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.HomePhone != NULL || DisplayXMLdata.HomePhone != '', TRUE, FALSE)}" 
                                      style="{!IF(DisplayXMLdata.HomePhoneChange == 'false' || DisplayXMLdata.HomePhoneChange == 'False', 'color:blue', 'color:#333333')}">
                                      {!IF(DisplayXMLdata.HomePhone == '*', $Label.CPP_LBL_DELETED, DisplayXMLdata.HomePhone)}</apex:outputLabel>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">
                            </td>
                            <td>
                                <apex:outputLabel >{!$Label.CPP_LBL_OFFICENO}</apex:outputLabel>
                            </td>
                            <td>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.OfficePhone != NULL || DisplayXMLdata.OfficePhone != '', TRUE, FALSE)}" 
                                     style="{!IF(DisplayXMLdata.OfficePhoneChange == 'false' || DisplayXMLdata.OfficePhoneChange == 'False', 'color:blue', 'color:#333333')}">
                                     {!IF(DisplayXMLdata.OfficePhone == '*', $Label.CPP_LBL_DELETED, DisplayXMLdata.OfficePhone)}</apex:outputLabel>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">
                            </td>
                            <td>
                                <apex:outputLabel >{!$Label.CPP_LBL_MOBILENO}</apex:outputLabel>
                                <br></br>
                                <br></br>
                            </td>
                            <td valign="top">
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.MobilePhone != NULL || DisplayXMLdata.MobilePhone != '', TRUE, FALSE)}" 
                                     style="{!IF(DisplayXMLdata.MobilePhoneChange == 'false' || DisplayXMLdata.MobilePhoneChange == 'False', 'color:blue', 'color:#333333')}">
                                     {!IF(DisplayXMLdata.MobilePhone == '*', $Label.CPP_LBL_DELETED, DisplayXMLdata.MobilePhone)}</apex:outputLabel>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">
                            </td>
                            <td>
                                <apex:outputLabel >{!$Label.Email_Address}</apex:outputLabel>
                                <br></br>
                                <br></br>
                            </td>
                            <td valign="top">
                                <apex:outputLabel style="{!IF(DisplayXMLdata.EmailAddChange == 'false' || DisplayXMLdata.EmailAddChange == 'False', 'color:blue', 'color:#333333')}">{!DisplayXMLdata.EmailAddValue}</apex:outputLabel>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="2%">
                </td>
                <td>    
                    <apex:outputLabel >{!$Label.CPP_LBL_CORRADD}:</apex:outputLabel>
                </td>
           </tr>
           <!-- JC NACHOR 12/09/09 - added spacing -->
           <tr>
           <td>&nbsp;</td>
           </tr> 
            <tr>
                <td width="2%">
                </td>
                <td>    
                    <table width="100%">
                        <tr>
                            <td width="2%">
                            </td>
                            <td>
                                <apex:outputLabel rendered="{!IF((DisplayXMLdata.AddressLine1 == NULL || DisplayXMLdata.AddressLine1 == '') && (DisplayXMLdata.AddressChange == 'true' || DisplayXMLdata.AddressChange == 'True'), TRUE, FALSE)}" 
                                     style="color:blue">{!$Label.CPP_NO_CHANGE}</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressLine1 != NULL && DisplayXMLdata.AddressLine1 != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressLine1}&nbsp;</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressLine2 != NULL && DisplayXMLdata.AddressLine2 != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressLine2}</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressLine3 != NULL && DisplayXMLdata.AddressLine3 != '', TRUE, FALSE)}" style="color:blue"><br></br>{!DisplayXMLdata.AddressLine3}&nbsp;</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF((DisplayXMLdata.AddressLine3 == NULL || DisplayXMLdata.AddressLine3 == '') && (DisplayXMLdata.AddressLine3 != NULL && DisplayXMLdata.AddressLine3 != ''), TRUE, FALSE)}"><br></br></apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressLine4 != NULL && DisplayXMLdata.AddressLine4 != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressLine4}&nbsp;</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(((DisplayXMLdata.AddressLine3 == NULL || DisplayXMLdata.AddressLine3 == '') && (DisplayXMLdata.AddressLine3 == NULL || DisplayXMLdata.AddressLine3 == '')) && (DisplayXMLdata.AddressLine5 != NULL && DisplayXMLdata.AddressLine5 != ''), TRUE, FALSE)}"><br></br></apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressLine5 != NULL && DisplayXMLdata.AddressLine5 != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressLine5}</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressCity != NULL && DisplayXMLdata.AddressCity != '', TRUE, FALSE)}" style="color:blue"><br></br>{!DisplayXMLdata.AddressCity}</apex:outputLabel>
                              <!-- JC NACHOR 09/24/09 - moved the , from after zip / postal code to after province -->
                                <!-- <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressZip != NULL && DisplayXMLdata.AddressZip != '', TRUE, FALSE)}" style="color:blue"><br></br>{!DisplayXMLdata.AddressZip},&nbsp;</apex:outputLabel> -->
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressZip != NULL && DisplayXMLdata.AddressZip != '', TRUE, FALSE)}" style="color:blue"><br></br>{!DisplayXMLdata.AddressZip}&nbsp;</apex:outputLabel>
                                <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressZip == NULL || DisplayXMLdata.AddressZip == '', TRUE, FALSE)}"><br></br></apex:outputLabel>
                                <!-- JC NACHOR 09/24/09 - moved the , from after zip / postal code to after province -->
                                <!-- <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressProv != NULL && DisplayXMLdata.AddressProv != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressProv}&nbsp;</apex:outputLabel>  -->
                              <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressProv != NULL && DisplayXMLdata.AddressProv != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressProv},&nbsp;</apex:outputLabel>
                              <apex:outputLabel rendered="{!IF(DisplayXMLdata.AddressCountry != NULL || DisplayXMLdata.AddressCountry != '', TRUE, FALSE)}" style="color:blue">{!DisplayXMLdata.AddressCountry}</apex:outputLabel>
                              <br></br>
                              <br></br>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
          <tr>
              <td width="2%">
              </td>
              <td>    
                  <apex:outputLabel rendered="{!IF(AllPolicies == false, true, false)}">{!$Label.CPP_LBL_APPNUM}:</apex:outputLabel>
                  <apex:outputLabel rendered="{!IF(AllPolicies == true, true, false)}">{!$Label.CPP_REMARK_024}</apex:outputLabel>
              </td>
          </tr>
          <tr>
              <td width="2%">
              </td>
              <td>    
                  <table width="100%">
                      <tr>
                          <td width="2%">
                          </td>
                          <td>
                              <apex:datatable rendered="{!IF(AllPolicies == false, true, false)}" value="{!DisplayXMLdata.Policies}" var="policy">
                                  <apex:column >
                                      <apex:outputText value="{!policy}"/>
                                  </apex:column>
                              </apex:datatable>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
          <tr>
              <td width="2%">
              </td>
              <td>    
                  <hr></hr>
              </td>
          </tr>
          <tr>
              <td width="2%">
              </td>
              <td>    
                  {!$Label.CPP_REMARK_014}
                  <!-- R Angeles 12.03.2009: Removed <br></br>
                  {!$Label.CPP_REMARK_018} -->
              </td>
          </tr>
          <tr>
              <td width="2%">
              </td>
              <td>
                  <br></br>    
                  {!$Label.CPP_REMARK_015}
                  <br></br>
                  <br></br>
              </td>
          </tr>
          <!-- JC NACHOR 12/08/2009 - added line divider -->
          <tr>
              <td width="2%">&nbsp;
              </td>
              <td>    
                  <hr></hr>
                  <br></br>
              </td>
          </tr>          
          <tr>
              <td width="2%">&nbsp;
              </td>
              <td>    
                  {!$Label.CPP_REMARK_016}
                  <br></br>
                  {!$Label.CPP_REMARK_017}
                  <br></br>
                  <br></br>
                  <br></br>
              </td>
          </tr>
          <tr>
              <td width="2%">
              </td>
              <td>    
                  <table width="100%">
                      <tr>
                          <td width="50%" align="center">
                              <input class="eSvcBtn" type="button" value="   {!$Label.CPP_BTN_OK}   " onclick="callOK();"></input>
                          </td>
                          <td width="50%">
                              <input class="eSvcBtn" type="button" value="{!$Label.CPP_BTN_SAVE}" onclick="callPDF();"></input>   
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
  </apex:pageBlock>
</apex:page>