<apex:page controller="ChangeInfoPreValidateCtrl" showHeader="false" sidebar="false">
<c:PortalNavigator navID="310"/>
<!-- 
Version		: 1.0
Company		: Sun Life Financial
Date		: 21.JULY.2009
Author		: Dorothy Anne L. Baltazar
Description	: Page for displaying errors for Change Contact Information.
History		: 
			JC NACHOR 08/12/2009 added error message if user have no active inforce Policy
			version 1.1 - JC NACHOR 10/08/2009 moved the js part
 -->
  
  	<script>
	var errorCastIron = {!renderErrorCastIron};
	var errorCPExistRequest = {!renderCPErrorExistRequest};
  	var errorNoActiveInforcePolicy = {!renderErrorNoActiveInforcePolicy};
	
	if ((errorCastIron==false)&&(errorCPExistRequest==false)&&(errorNoActiveInforcePolicy==false))
	{
		top.window.location.href='{!tempURL}';
	}
	</script>
	  
 	<apex:outputPanel > 	
	<apex:form id="changeInfoForm">
	<apex:pageBlock rendered="{!OR(renderErrorCastIron,renderCPErrorExistRequest,renderErrorNoActiveInforcePolicy)}">
  <apex:sectionHeader title="{!$Label.CPP_HEADER_001}"/>
		<div align="center">
		<apex:pageBlock rendered="{!OR(renderErrorCastIron,renderCPErrorExistRequest,renderErrorNoActiveInforcePolicy)}">
			<apex:outputPanel rendered="{!renderErrorCastIron}">
				<br/><apex:outputLabel value="{!$Label.CPP_ERR_009}"/><br/>
			</apex:outputPanel>
			<apex:outputPanel rendered="{!renderCPErrorExistRequest}">
				<br/><apex:outputLabel value="{!$Label.CPP_ERR_007}"/><br/>
			</apex:outputPanel>
		    <apex:outputPanel rendered="{!renderErrorNoActiveInforcePolicy}">
		        <br/><apex:outputLabel value="{!$Label.CPP_ERR_011}"/><br/>
		    </apex:outputPanel>   
		</apex:pageBlock>
		</div>
  </apex:pageBlock>		
	</apex:form>
	</apex:outputPanel>
</apex:page>