<!-- 
    Version     : 1.3
    Company     : Sun Life Financial
    Date        : JULY.2009
    Author      : 
    Description : Page for Disclaimer page
    History     : 	1.1 - 27.OCT.2009 - Wilson Cheng - Change the position of reject and accept button (look and feel #5)
    				1.2 - 19.NOV.2009 - W. Clavero - Included handling of SU logins.
    				1.3 - 20.NOV.2009 - Wilson Cheng - Checks the global settings to determine if the check for SU logins is required.
    				1.4 - 26.NOV.2009 - W. Clavero / JC Nachor - add delay to allow extra time for the IFrame to load properly
    				1.5 - 12/03/09 - JC NACHOR - used custom labels for buttons
-->

<apex:page sidebar="false" showHeader="false" controller="DisclaimerController" action="{!checkPasswordChange}">
<head>
	<title>{!$Label.HOM_Disclaimer}</title>
</head>
    <c:PortalNavigator navID="100" showMenu="false"/>
    <script>
        function disableButton(control) {
            document.getElementById(control).disabled=true;
        }
    </script>
	<!-- w. clavero 20091118 -->
	<iframe id="portalAccess" name="portalAccess" src="/apex/SUTest" width="5" height="5" scrolling="no" style="display: none;"></iframe>    
    <apex:form >
    <span id="blockerSpan" name="blockerSpan" style="display: none;">
    <apex:pageblock >
        <table id="disclaimer" class="disclaimTable"><tbody>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td class="disclaimFrame">
                    <iframe id="ifrmDisclaimer" name="ifrmDisclaimer" align="middle" frameborder="1" height="350" width="100%" src="/apex/DisclaimerContent" ></iframe>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td align="center">
                    <table><tbody>
                        <tr>
                            <!-- START EDIT Look&Feel_05 Wcheng 10/27/09 -->
                            <!-- JC NACHOR 12/03/09 - used custom labels -->
                            <!-- <td><apex:commandButton action="{!doNotAccept}" styleClass="eSvcBtn" value="Do Not Accept" rerender="reloadpage" id="reject" onClick="javascript:disableButton('{!$Component.reject}');"/></td>  -->
                            <td><apex:commandButton action="{!doNotAccept}" styleClass="eSvcBtn" value="{!$Label.DIS_DONOTACCEPT}" rerender="reloadpage" id="reject" onClick="javascript:disableButton('{!$Component.reject}');"/></td>  
                            <td class="buttonSpacer">&nbsp;</td>
                            <!-- JC NACHOR 12/03/09 - used custom labels -->
                            <!-- <td><apex:commandButton action="{!acceptDisclaimer}" styleClass="eSvcBtn" value="Accept" rerender="reloadpage" id="accept"  onClick="javascript:disableButton('{!$Component.accept}');"/></td> -->
                            <td><apex:commandButton action="{!acceptDisclaimer}" styleClass="eSvcBtn" value="{!$Label.DIS_ACCEPT}" rerender="reloadpage" id="accept"  onClick="javascript:disableButton('{!$Component.accept}');"/></td>
                            <!-- END EDIT Look&Feel_05 Wcheng 10/27/09 -->
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
    </apex:pageblock>
    </span>
    </apex:form>
    <apex:outputpanel id="reloadpage">
    <script>
    
    function disclaimRedir() {
      var url = '{!url}';        
      var showContent = {!showDisclaimer};    
      var suCheck = false;
      var checkUserLogin = {!checkForSU};

	    if (checkUserLogin == true) //w. cheng 20091120: check for SU only if required
	    {     
	      try 
	      {	        
	        var suCheck = document.getElementById("portalAccess").contentWindow["isASwitchUser"]();
	        if ((suCheck == null) || (suCheck == "undefined"))
	        {
	          suCheck = true;
	        }
	      } 
	      catch (err) 
	      {
	        suCheck = true;
	      }
	    }
	
	    //w. clavero 20091119: either the user has already changed his password or is an SU login
	    if ((showContent == true) || (suCheck == true)) {
	      document.getElementById("blockerSpan").style.display = '';
	    } else if (url != '') { 
	            top.window.location.href = url;
	    }
    }
    
    // 11/26/2009 - WCLAV / JCNACHOR - add delay to allow extra time for the IFrame to load properly
    window.setTimeout("disclaimRedir()", 2000);    
    </script>
    </apex:outputpanel>        
</apex:page>