<!-- 
Version        : 1.1 
Company        : Sun Life Financial 
Date           : 01.AUG.2009
Author         : Gilbert de Leon
Description    : Forgot Password Confirmation page
History        : 
                 version 1.1 - JC NACHOR 09/23/09 - added a style for the hyperlink
                 version 1.2 - JC NACHOR 09/25/09 - added title
                 version 1.3 - JC NACHOR 10/07/09 - used custom labels
                 version 1.4 - JC NACHOR 10/27/09 - removed hardcoding of images and css, fixed look and feel
 -->
<apex:page showHeader="false" sidebar="false" title="Forgot Password">
<head>
  <title>{!$Label.TITLE_SLF_eServices}</title>
</head> 
	<style>
	.innerBox {
		margin: 50px;
		width: 500px;
		font-weight: bold;
	}
	</style>
	<!-- JC NACHOR 10/27/09 - removed hardcoding of images and css, fixed look and feel
	<apex:stylesheet value="https://na1.salesforce.com/sCSS/16.0/sprites/1245343872000/PortalDefault/default/elements.css" />
	<apex:stylesheet value="https://na1.salesforce.com/sCSS/16.0/sprites/1245343872000/PortalDefault/default/common.css" />
	<apex:stylesheet value="https://na1.salesforce.com/sCSS/16.0/sprites/1245343872000/PortalDefault/default/extended.css" />
	<apex:stylesheet value="https://na1.salesforce.com/sCSS/16.0/1237504277000/PortalDefault/00D30000000KbT8/060300000002KUS/portal.css" />
	-->
	<link href="/dCSS/Theme2/default/elements.css" type="text/css"/>
  <link href="/dCSS/Theme2/default/common.css" type="text/css"/>
  <link href="/dCSS/Theme2/default/extended.css"/ type="text/css">
  <link href="/dCSS/Theme2/default/portal.css" type="text/css"/> 
	<!-- JC NACHOR 09/23/2009 - added a style for the hyperlink -->
	<apex:stylesheet value="{!URLFOR($Resource.ESW2Style,'newESUIStyle.css')}" />
	<apex:panelGrid columns="3" cellpadding="0" cellspacing="0" border="0">
	  <!-- JC NACHOR 10/27/09 - removed hardcoding of images and css, fixed look and feel
		<apex:image value="https://na1.salesforce.com/servlet/servlet.ImageServer?id=01530000000mX06&oid=00D30000000KbT8"
			width="144" height="92" />
		<apex:image value="https://na1.salesforce.com/servlet/servlet.ImageServer?id=01530000000mX07&oid=00D30000000KbT8"
			width="148" height="92" />
		<apex:image value="https://na1.salesforce.com/servlet/servlet.ImageServer?id=01530000000mX0B&oid=00D30000000KbT8"
			width="400" height="92" />
			-->
			<apex:image id="LoginBanner" value="{!$Resource.LoginBanner}" width="692" height="92"/>
	</apex:panelGrid>
	<apex:outputPanel layout="block" styleClass="innerBox">
		<!--  
		<apex:outputText value="An email has been sent to the email associated with the given username 
    							with further instructions on how to reset your password. 
    							Please check your email account." escape="false"/>
        -->    							
        <apex:outputText value="{!$Label.FP_email_1} 
    							{!$Label.FP_email_2} 
    							{!$Label.FP_email_3}" escape="false"/>
		<br /><br />
		<!-- <apex:outputText >Return to&nbsp;  -->
		<apex:outputText >{!$Label.Return_to}&nbsp;
		  <!-- JC NACHOR 09/23/2009 - added a style for the hyperlink -->
		  <span class="blueLink">
			  <!-- <apex:outputLink value="http://www.sunlife.com.hk">Sun Life Hong Kong</apex:outputLink> -->
			  <apex:outputLink value="http://www.sunlife.com.hk">{!$Label.Sun_Life_Hong_Kong}</apex:outputLink>
			</span> 
			<!-- home page. -->
			{!$Label.home_page}
		</apex:outputText>
	</apex:outputPanel>
</apex:page>