<!-- 

Version 	: 1.0
Company		: Sun Life Financial
Date		: JULY.2009
Author		: Robby Angeles
Description	: Page for Fund Switching Important NOtes
History		: 1.1 - 04.SEP.2009 - Robby Angeles - Updated reference URL for cancel button

			: 
-->

<apex:page controller="FundSwitchPreValidateCtrl" showHeader="false" sidebar="false">
<c:PortalNavigator navID="321" />
		<script>
			function gotoHome(){
				top.location.href= ('{!NavTxnLog}');
			}
			
			function gotoFSW(){			
				top.location.href='{!tempURL}'+'?policyID='+'{!policyNumber}';
			}
		</script>
		
		
	<apex:pageBlock >		
	<apex:SectionHeader Title="{!$Label.FSW_Main}"></apex:SectionHeader>
	<apex:form id="errorForm">
		<apex:pageBlock rendered="{!OR(renderErrorCastIron,renderErrorExistRequest,renderErrorPendingFundTxn,renderErrorLapseStartDate,renderErrorNonES)}">
			<div align="center">
				<apex:outputPanel rendered="{!renderErrorCastIron}">
					<br/><br/><br/><apex:outputLabel value="{!$Label.CHM_ERR_001_024}">
					</apex:outputLabel>
				</apex:outputPanel>
				<apex:outputPanel rendered="{!renderErrorExistRequest}">
					<br/><br/><br/><apex:outputLabel value="{!$Label.CHM_ERR_001_015}">
					</apex:outputLabel>
				</apex:outputPanel>
				<apex:outputPanel rendered="{!renderErrorNonES}">
					<br/><br/><br/><apex:outputLabel value="{!$Label.CHM_ERR_001_028}">
					</apex:outputLabel>
				</apex:outputPanel>
				<apex:outputPanel rendered="{!renderErrorPendingFundTxn}">
					<br/><br/><br/><apex:outputLabel value="{!$Label.CHM_ERR_001_001}">
					</apex:outputLabel>
				</apex:outputPanel>
				<apex:outputPanel rendered="{!renderErrorLapseStartDate}">
					<br/><br/><br/><apex:outputLabel value="{!$Label.CHM_ERR_001_022}">
					</apex:outputLabel>
				</apex:outputPanel>
			</div>
		</apex:pageBlock>
	</apex:form>
	
	<apex:form id="mainForm" rendered="{!NOT(OR(renderErrorCastIron,renderErrorExistRequest,renderErrorPendingFundTxn,renderErrorLapseStartDate,renderErrorNonES))}">
		<table id="notesForm" class="disclaimTable" ><tbody>
			<tr><td>{!$Label.FSW_ImportantNotes_Header}</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr><td class="importantHeading">{!$Label.FSW_ImportantNotes_Label}</td></tr>
			<tr>
				<td class="disclaimFrame">
					<iframe id="ifrmNoteSteps" name="ifrmNoteSteps" frameborder="1" height="250" width="100%" src="/apex/FSW_ImportantNotes_Steps"></iframe>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
		 		<td align="center">
		 			<table><tbody>
		 				<tr>
							<td><apex:commandButton id="btnAccept" styleClass="eSvcBtn" value="Accept" reRender="null" onclick="gotoFSW()"/></td>					
							<td class="buttonSpacer">&nbsp;</td>
							<td><apex:commandButton id="btnReject" styleClass="eSvcBtn" value="Reject" reRender="null" onclick="gotoHome()"/></td>
		 				</tr>
		 			</tbody></table>						
		 		</td>
			</tr>
		</tbody></table>
	</apex:form>

	</apex:pageBlock>	
	<script>
		var errorCastIron = {!renderErrorCastIron};
		var errorExistRequest = {!renderErrorExistRequest};
		var errorPendingFundTxn = {!renderErrorPendingFundTxn};
		var errorLapseStartDate = {!renderErrorLapseStartDate};
		var errorNonES = {!renderErrorNonES};
		
		if ((errorCastIron==false)&&(errorExistRequest==false)&&(errorPendingFundTxn==false)&&(errorLapseStartDate==false)&&(errorNonES==false))
		{
			document.getElementById('notesForm').style.display = '';	
		}
	</script>
</apex:page>