<apex:page showHeader="false" sidebar="false"> 
<apex:stylesheet value="{!URLFOR($Resource.ESW2Style,'newESUIStyle.css')}" />
	<div class="disclaimText">
		<ol>
			<li>{!$Label.FSW_ImportantNotes_Part1}</li>
			<li>{!$Label.FSW_ImportantNotes_Part1b}</li>
			<li>{!$Label.FSW_ImportantNotes_Part2}</li>
			<li>{!$Label.FSW_ImportantNotes_Part2b}</li>
			<li>{!$Label.FSW_ImportantNotes_Part2c}</li>
		</ol>
		 <br/><br/>
        {!$Label.FSW_IMPTNOTES_REMARK}
	</div>
</apex:page>