<!--
Version      : 1.0
Company      : Sun Life Financial
Date         : July 24, 2009
Author       : JC Nachor
Description  : Displays the Security Information used in Online Help (Chinese)
History : 
          [Version after modification] <Date Modified - Author - Short description of modification>

-->
<apex:page showheader="false" sidebar="false">
  <!-- c:PortalNavigator navID="400"/ -->
  <apex:stylesheet value="{!URLFOR($Resource.ESW2Style,'newESUIStyle.css')}" />
  <div class="disclaimDiv">
    <apex:pageBlock >
      <div>
        <table width="100%" ><tbody>
          <tr>
            <td>
              <!-- span style="font-weight:bold;font-size:16.0pt">Security</span -->
              <apex:pageBlockSection collapsible="false" title="安全技術資料" />
                <br/>
                <span>在永明金融公司內，我們十分重視資料的安全與機密。 由於互聯網業務 總會有一些保安風險，我們需要及已經推行一系列措施去減少這些風險，像是資料安全政策，標準及加強的安全技術。</span>
                <br/><br/><br/>
              <!-- span style="font-style:italic;font-weight:bold;font-size:14.0pt">How we protect your information</span -->
              <apex:pageBlockSection collapsible="false" title="如何去保護你的資料" />
                <br/>
                <b>資料密碼技術</b>
                  <br/><br/>
                                                作為永明金融公司的客戶，一旦你們已經進入永明金融公司的網站 （成功地輸入你的使用者身份和密碼之後）, 你的瀏覽器和主機之間的所有網上資料傳送和交易於都會被加密。 如果你的瀏覽器不支持至少 128碼密碼技術，由於保安原因，你將不能夠登入永明金融公司的網站。  除此之外，所有永明金融公司的手提電腦已經裝置了硬碟保密碼技術。
                  <br/><br/>
                                                此外, 我們強力推薦你使用下列各項被支持的瀏覽器版本：
                  <ol>
                    <li>Microsoft Internet Explorer, version 6 or higher - <a href="http://www.microsoft.com/downloads/en/default.aspx" target="_blank"><b>Microsoft Download Centre</b></a></li>
                    <li>Mozilla Firefox, version 2 or higher – <a href="http://www.mozilla.com/en-US/firefox/ie.html" target="_blank"><b>Mozilla Firefox Download Centre</b></a></li>
                  </ol>
                  <br/>
                                                注意 : 瀏覽器版本測試版不會被提供支援
                  <br/><br/><br/>
                <b>訊息完整性</b>
                  <br/><br/>
                                                我們的網站使用安全傳輸 （SSL）,網際網路安全標準，幫助確定訊息完整性和線上交易的機密。 SSL 的使用可以幫助阻止資料在互聯網網路內受到干預或偷用。
                  <br/><br/><br/>
                <b>登入驗證</b>
                  <br/><br/>
                                                永明金融公司只允許有適當用戶身份和密碼的登入去進入你的用戶系統。  當你已經成功地登錄的時候，你的瀏覽器將建立安全的 SSL通道去連結你的電腦和永明金融的伺服器。 成功的安全連結後, 你的作業系統會顯示一個SSL安全連結象徵 （如一個鎖的圖案）。
                  <br/><br/>
                                                如果你在此鎖圖案上加倍點擊，你將看到我們的網站數碼証書。 此網站數碼証書是由（VeriSign）去授權及認證網站的身份。我們的 e-Services 是由 SalesForce 公司提供服務，因此數碼証書的身份是 salesforce.com。如果你按下發行者陳述鈕扣，它將指引你去VeriSign網站獲得該網站數碼証書有關的相關進一步資訊。
                  <br/><br/><br/><br/>
              <!-- span style="font-style:italic;font-weight:bold;font-size:14.0pt">How you protect your information</span -->              
              <apex:pageBlockSection collapsible="false" title="如何保護你的資料" />
                <br/>
                <b>資料密碼技術</b>
                  <br/><br/>
                                                為了確保你的網瀏覽器能使用永明金融網站最強的密碼技術，你應該使用網瀏覽器的最新版本。
                  <br/><br/>
                                                此外, 我們強力推薦你使用下列各項被支持的瀏覽器版本： 
                  <ol>
                    <li>Microsoft Internet Explorer, version 6 or higher - <a href="http://www.microsoft.com/downloads/en/default.aspx" target="_blank"><b>Microsoft Download Centre</b></a></li>
                    <li>Mozilla Firefox, version 2 or higher – <a href="http://www.mozilla.com/en-US/firefox/ie.html" target="_blank"><b>Mozilla Firefox Download Centre</b></a></li>
                  </ol>
                  <br/>
                <b>密碼保護</b>
                  <br/><br/>
                                                你的密碼是你的身份的證明。 使用一個強的密碼幫助你保護你的身份。 一個強的密碼為至少八個字的組合並包含數字和英文字母。
                  <br/><br/>
                                                你有責任去保存永明金融網站的登入資料機密和避免它的未授權使用。 我們建議你經常使用適當的功能去更改你的密碼 。 此外：
                  <ul>
                    <li>不要接到永明金融網後而離開你的電腦</li>
                    <li>不要與任何人分享你的密碼</li>
                    <li>不要使用相同的密碼兩次</li>
                    <li>不要把你的密碼寫下來</li>
                    <li>不要在電腦檔案中儲存你的密碼</li>
                    <li>不要使用個人的或者確認資料為你的密碼，舉例來說，出生日期或者社會的保險號碼</li>
                  </ul>
                  <br/>
                <b>使用而且經常更新反病毒軟體</b>
                  <br/><br/>
                                                你的電腦可以藉由打開電子郵件附件，下載來自網站的資料而且分享檔案遇到病毒而受到感染。 安裝並使用反病毒軟體是一個有效的方法阻止病毒儲存到你的電腦和感染你的資料。反病毒軟體設計以作發現並清除病毒，使病毒不能傳佈。由於每天都有新的病毒創造， 請經常更新你的反病毒軟體。 當有新的病毒被軟件商發現的時候， 反病毒軟體程式將自動傳送至你的電腦作軟件更新。
                  <br/><br/><br/>
                <b>使用而且經常更新反間諜軟體軟體</b>
                  <br/><br/>
                                                間諜軟件是一些軟體會自動裝置於你的電腦而沒有經你知道或同意的。 它使用不同的技術收集或者追蹤個人的資料。 其中一個技術叫--鍵盤的紀錄 – 它能紀錄你所按過之鍵制而取得敏感的資料，像是使用者身份證和密碼。 一旦這資料被收集，它能被用來取得你的線上帳戶。
                  <br/><br/>
                                                間諜軟件能用很多方法裝置在你的電腦 – 如經過電子郵件附件或下載軟體，像是音樂或影像檔案分享計畫。 反間諜軟件是用以檢查這些諜軟程式而且把他們從你的電腦移除。 請保持更新你的反間諜軟體軟體是十分重要的，可以在傳染你的電腦之前，間諜程式能被證到。
                  <br/><br/><br/>
                <b>請經常更新你的電腦作業系統</b>
                  <br/><br/>
                                                為了保護你的電腦免於互聯網路被盜用的威脅，經常更新你的作業系統十分重要。 請使用作業系統公司所提供的程式， 安裝最近的作業系統安全更新和修補。 這些更新程式一般可以由作業系統公司免費自動傳送至你電腦的。
                  <br/><br/><br/>
            </td>
          </tr>
        </tbody></table>
      </div>
    </apex:pageBlock>
  </div>    
</apex:page>