<!-- 
Version        : 1.0 
Company        : Sun Life Financial 
Date           : 01.AUG.2009
Author         : Simon U. Esguerra
Description    : Change Contact Information input, confirmation and error upon submit page.
History        :
                  version 1.1 - JC NACHOR 12/08/09 - hide the last two notes for change mandate, added a note at the bottom part of the page
-->
<apex:page showHeader="false" sidebar="false">
<apex:stylesheet value="{!URLFOR($Resource.ESW2Style,'newESUIStyle.css')}" />
	<div class="disclaimDiv">
		<apex:pageBlock >
			<apex:pageBlockSection collapsible="false" title="{!$Label.FSW_Main}" />
			<ol>
				<li>{!$Label.FSW_ImportantNotes_Part1}</li>
				<li>{!$Label.FSW_ImportantNotes_Part1B}</li>
				<li>{!$Label.FSW_ImportantNotes_Part2}</li>
				<li>{!$Label.FSW_ImportantNotes_Part2B}</li>
				<li>{!$Label.FSW_ImportantNotes_Part2C}</li>
			</ol>
			<br/><br/>
			<apex:pageBlockSection collapsible="false" title="{!$Label.CHM_FALLOCLABEL}" />
			<ol>
				<li>{!$Label.CHM_IMPTNOTES_STEPS001}</li>
				<li>{!$Label.CHM_IMPTNOTES_STEPS002}</li>
				<li>{!$Label.CHM_IMPTNOTES_STEPS003}</li>
				<li>{!$Label.CHM_IMPTNOTES_STEPS004}</li>
				<!-- JC NACHOR 12/08/09 - hide the last two notes -->
        <!-- 
        <li>{!$Label.CHM_IMPTNOTES_STEPS005}</li>
        <li>{!$Label.CHM_IMPTNOTES_STEPS006}</li>
         -->
      </ol>
      <br/><br/>
      {!$Label.CHM_IMPTNOTES_REMARK}
      <!-- JC NACHOR 12/09/09 - added note -->
      <br/><br/>
      {!$Label.FSW_CONFIRM_NOTE5}
    </apex:pageBlock>
  </div>
</apex:page>