<!--
Version : 1.0
Company : Sun Life Financial
Date  : 25.Sep.2009
Author  : JC NACHOR
Description : No access to objects page
History : 
           version 1.1 - JC NACHOR 10/15/09 - added error message for invalid client 
-->
<apex:page controller="NoAccessToPolicyCtrl" sidebar="false" showHeader="false">
<c:PortalNavigator navID="100" />
  <apex:pageBlock >    
    <apex:pageBlock rendered="{!isPolicyError}">
      <div class="centeredDiv">
        {!$Label.No_Access_To_Policy}
      </div>
    </apex:pageBlock>    
    <apex:pageBlock rendered="{!isTransactionError}">
      <div class="centeredDiv">
        {!$Label.No_Access_To_Transaction}
      </div>
    </apex:pageBlock>  
             <apex:pageBlock rendered="{!isClientError}">
      <div class="centeredDiv">
        {!$Label.No_Access_To_Client}
      </div>
    </apex:pageBlock> 
  </apex:pageBlock>
</apex:page>