<!-- 
Company		: Sun Life Financial
Date		: 80/14/2009
Author		: W. Clavero
Description	: Page for containing the security help pages.
History		: 
           version 1.1 - JC NACHOR 09/25/09 - added title
-->
<apex:page controller="SecurityOnlineHelpCtrl" showHeader="false" sidebar="false">
<head>
  <title>{!$Label.TITLE_Security_Info}</title>
</head> 
<c:PortalNavigator navID="400"/>
	<apex:pageBlock >
		<apex:outputPanel >
		<table id="secHelp" class="disclaimTable"><tbody>
			<tr>
				<td class="disclaimFrame">
					<iframe id="ifrmSecurity" name="ifrmSecurity" frameborder="1" height="400" width="100%" src="{!helpURL}"></iframe>
				</td>
			</tr>
		</tbody></table>
		</apex:outputPanel>
	</apex:pageBlock>
</apex:page>